<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Features - Brand</title>
    <link rel="icon" type="image/png" href="../static/img/Favicon1.png">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="index.html">Unchained</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="customer.html">Customer&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="Shop.html">Product SHop</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                    <li class="nav-item d-none"><a class="nav-link active" href="admin.html">Admin</a></li>
                </ul><button class="btn btn-primary d-none" type="button">Logout</button>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Admin Profile</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Password</h4>
                        <form>
                            <div class="mb-3"></div>
                            <div class="mb-3"><label class="form-label" for="password">Password</label><input class="form-control" type="password" id="password" name="password"></div>
                            <div class="mb-3"></div>
                        </form><button class="btn btn-primary" type="button">Save changes</button>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                        <h4>Create a product</h4>
                        <form>
                            <div class="mb-3"></div>
                            <div class="mb-3"><label class="form-label" for="name">Password</label><input class="form-control" type="text"  id="name" name="name"></div>
                            <div class="mb-3"><label class="form-label" for="MaxAmount">Maximum Amount</label><input class="form-control" type="text" id="MaxAmount" name="MaxAmount"></div>
                            <div class="mb-3"><label class="form-label" for="Pallets">Storage space</label><input class="form-control" type="text" id="Pallets" name="Pallets"></div>
                            <div class="mb-3"><label class="form-label" for="Price">Price</label><input class="form-control" type="number" min="0" id="Price" name="Price"></div>
                            <div class="mb-3"></div>
                        </form><button class="btn btn-primary" type="button">Save changes</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Register.html">Sign up</a></li>
                        <li><a href="Shop.html">Shop</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Unchained</p>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/js/vanilla-zoom.js"></script>
    <script src="../static/js/theme.js"></script>
    <script language="JavaScript">
    validateLogin(function (result) {
    if (!result) {
    window.location.replace("../login");
    }
    });
    </script>

<!-- TODO: Function that uses app.js post product methods

TODO: Function to edit password (use app.js put profile method)-->
</body>

</html>