<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Brand</title>
    <link rel="icon" type="image/png" href="../static/img/Favicon1.png">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/css/vanilla-zoom.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="index.html">Unchained</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="customer.html">Customer&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link active" href="Shop.html">Product Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                    <li class="nav-item d-none"><a class="nav-link" href="admin.html">Admin</a></li>
                </ul><button class="btn btn-primary d-none" type="button">Logout</button>
            </div>
        </div>
    </nav>
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Pricing Table</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-5">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3 id="Name_ProductA">Product A</h3>
                            </div>
                            <div class="features">
                                <h4><span class="feature">Maximum Amount:&nbsp;</span><span id="MaxAmount_ProductA">25</span></h4>
                                <h4><span class="feature">Pallets:&nbsp;</span><span id="MinPallets_ProductA">1.2</span></h4>
                                <h4><span class="feature">Amount:&nbsp;</span><input id="Amount_ProductA" class="form-control-sm" type="number" min="0" max="250"  placeholder="Enter amount"></h4>
                            </div>
                            <div class="price">
                                <h4 id="Price_ProductA">$13.50</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3 id="Name_ProductB">Product B</h3>
                            </div>
                            <div class="features">
                                <h4><span class="feature">Maximum Amount:&nbsp;</span><span id="MaxAmount_ProductB">10</span></h4>
                                <h4><span class="feature">Pallets:&nbsp;</span><span id="MinPallets_ProductB">2</span></h4>
                                <h4><span class="feature">Amount:&nbsp;</span><input id="Amount_ProductB" class="form-control-sm" type="number" min="0" max="250"  placeholder="Enter amount"></h4>
                            </div>
                            <div class="price">
                                <h4 id="Price_ProductB">$15.00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3 id="Name_ProductC">Product C</h3>
                            </div>
                            <div class="features">
                                <h4><span class="feature">Maximum Amount:&nbsp;</span><span id="MaxAmount_ProductC">15</span></h4>
                                <h4><span class="feature">Pallets:&nbsp;</span><span id="MinPallets_ProductC">2.5</span></h4>
                                <h4><span class="feature">Amount:&nbsp;</span><input id="Amount_ProductC" class="form-control-sm" type="number" min="0" max="250" placeholder="Enter amount"></h4>
                            </div>
                            <div class="price">
                                <h4 id="Price_ProductC">$11.90</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3 id="Name_ProductD">Product D</h3>
                            </div>
                            <div class="features">
                                <h4><span class="feature">Maximum Amount:&nbsp;</span><span id="MaxAmount_ProductD">100</span></h4>
                                <h4><span class="feature">Pallets:&nbsp;</span><span id="MinPallets_ProductD">0.8</span></h4>
                                <h4><span class="feature">Amount:&nbsp;</span><input id="Amount_ProductD" class="form-control-sm" type="number" min="0" max="250"  placeholder="Enter amount"></h4>
                            </div>
                            <div class="price">
                                <h4 id="Price_ProductD">$2.50</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-5">
                        <div class="clean-pricing-item">
                            <div class="text-center price"><button class="btn btn-primary btn-lg" type="submit" id="CalculateBtn" name="CalculateBtn">Calculate Costs</button></div>
                        </div>
                    </div>

                <div id="modal-1" class="modal hide fade " role="dialog" tabindex="-1" style="display: block;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Checkout</h4><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p id="ShippingPrice">The price for shipping is:</p>
                                <p id="ProductPrice">The price for the products is:</p>
                                <p id="Totalprice">The total is:</p>
                            </div>
                            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button id="OrderBtn" class="btn btn-primary" type="button">Order</button></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>

    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="Register.html">Sign up</a></li>
                        <li><a href="Shop.html">Shop</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Unchained</p>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/js/vanilla-zoom.js"></script>
    <script src="../static/js/theme.js"></script>
    <script src="../static/js/app.js"></script>

    <script>
        $(document).ready(function () {

            $("CalculateBtn").submit(function (event) {
                var AmountProductA = $("Amount_ProductA").val() / ($("MaxAmount_ProductA").val() * $.("MinPallets_ProductA").val()
                var AmountProductB = $("Amount_2").val();
                var AmountProductC = $("Amount_3").val();
                var AmountProductD = $("Amount_4").val();

                Select the highest out of Amount A-D

                getCost(AmountProductA, AmountProductB, AmountProductC, AmountProductD, function(result){
                    $("ShippingPrice").html("The shipping price is:" + result.ShippingPrice);
                    $("ProductPrice").html("The price for products is:" + result.ProductPrice);
                    $("Totalprice").html("The total is:" + result.Totalprice);
                });
            });

            $("OrderBtn").submit(function(event){
                var productNameA = "Product A";
                var AmountProductA = $("Amount_1").val();
                var productNameB = "Product B";
                var AmountProductB = $("Amount_2").val();
                var productNameC = "Product C";
                var AmountProductC = $("Amount_3").val();
                var productNameD = "Product D";
                var AmountProductD = $("Amount_4").val();
               
                postOrder(productNameA, AmountProductA, productNameB, AmountProductB, productNameC, AmountProductC, productNameD, AmountProductD, function (result){
                    if (result)
                        window.location.reload();
                });
            });


        });

    </script>

</body>

</html>